.layout {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 92.4px);
    background-color: #F6F7FB;
    padding: 30px 25px;
}
.layout-left, .layout-right {
    width: 45%;
}
